/*-----------------------------------------------------------------------------------

    Template Name: Mimosa-Responsive eCommerce Template 
    Template URI: http://bootexperts.com
    Description: This is html5 template
    Author: Hastech
    Author URI: http://bootexperts.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Theme Default CSS (body, link color, section etc)
	2.  header
		2.1  header-top-area
	3.  slider-area	
	4.  founder-area
	5.  banner-area
	6.  feature-product-area
	7.  testimonial-area
	8.  arrivals-area
	9.  banner-area-2
	10.  blog-area
	11.  newslatter-area
	12.  footer
		12.1  footer-area
	13. modal
	14. home-2
	15. home-3
	16. home-4
	17. home-5
	18. home-6
	19. shop
	20. product-details
	21. contact
	22. about
	23.  404 page
	24. login
	25. register
	26.  Cart
	27.  Wishlist
	28.  checkout
	29.  blog
	30.  blog-details
	
	

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
/* google-fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {
	outline:none;
	text-decoration: none;
}
input:focus,
textarea:focus,
button:focus,
select:focus{
	outline:none;
}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
	color:#292929;
	font-family: 'Poppins', sans-serif;
	font-weight:700;
  margin: 0 0 10px;
}
a {transition: all 0.3s ease 0s;text-decoration:none;}
a:hover {
  color: #ec4445;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
body {
	font-family: 'Poppins', sans-serif;
	color:#707070;
	font-size:14px;
	line-height:24px;
	font-weight:400;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.mb-80{
	margin-bottom:80px;
}
.mb-70{
	margin-bottom:70px;
}
.mb-60{
	margin-bottom:60px;
}
.mb-50{
	margin-bottom:50px;
}
.mb-40{
	margin-bottom:40px;
}
.mb-30{
	margin-bottom:30px;
}
.mb-26{
	margin-bottom:26px;
}
.mb-20{
	margin-bottom:20px;
}
.mb-10{
	margin-bottom:10px;
}
.mtb-10{
	margin:10px 0;
}
.mtb-20{
	margin:20px 0;
}
.mtb-30{
	margin:30px 0;
}
.mtb-40{
	margin:40px 0;
}
.mtb-50{
	margin:50px 0;
}
.mtb-60{
	margin:60px 0;
}
.mtb-70{
	margin:70px 0;
}
.mtb-80{
	margin:80px 0;
}
.mt-10{
	margin-top:10px;
}
.mt-20{
	margin-top:20px;
}
.mt-30{
	margin-top:30px;
}
.mt-40{
	margin-top:40px;
}
.mt-50{
	margin-top:50px;
}
.mt-60{
	margin-top:60px;
}
.mt-70{
	margin-top:70px;
}
.mt-80{
	margin-top:80px;
}
.mb-28 {
  margin-bottom: 28px;
}
.pt-10{
	padding-top:10px;
}
.pt-20{
	padding-top:20px;
}
.pt-30{
	padding-top:30px;
}
.pt-40{
	padding-top:40px;
}
.pt-50{
	padding-top:50px;
}
.pt-60{
	padding-top:60px;
}
.pt-70{
	padding-top:70px;
}
.pt-80{
	padding-top:80px;
}
.ptb-10{
	padding:10px 0;
}
.ptb-20{
	padding:20px 0;
}
.ptb-30{
	padding:30px 0;
}
.ptb-40{
	padding:40px 0;
}
.ptb-50{
	padding:50px 0;
}
.ptb-60{
	padding:60px 0;
}
.ptb-70{
	padding:70px 0;
}
.ptb-80{
	padding:80px 0;
}
.pb-10{
	padding-bottom:10px;
}
.pb-20{
	padding-bottom:20px;
}
.pb-30{
	padding-bottom:30px;
}
.pb-40{
	padding-bottom:40px;
}
.pb-50{
	padding-bottom:50px;
}
.pb-60{
	padding-bottom:60px;
}
.pb-70{
	padding-bottom:70px;
}
.pb-80{
	padding-bottom:80px;
}
/*----------------------------------------*/
/*  2.  header
/*----------------------------------------*/
#page-wraper{
	padding: 0 2.6%;
	position: relative;
}
/*----------------------------------------*/
/*  2.1  header-top-area
/*----------------------------------------*/
.logo-area {
  margin-top: 26px;
}
.menu-area ul li{
	display:inline-block;
	margin-right:40px;
	position:relative;
}
.menu-area ul li:last-child{
	margin-right:0;
}
.menu-area ul li a{
	color: #292929;
	display:inline-block;
	font-size: 12px;
	font-weight: 600;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	padding:30px 0;
	transition:.3s;
	text-decoration:none;
}

.menu-area ul li.active a,.menu-area ul li:hover a,.header-right-area ul li:hover a,.menu-area ul li.sub-menu ul li a:hover,.menu-area ul li ul.mega-menu li ul.sub-menu-2 li a:hover,.menu-area ul li ul.sub-menu li a:hover{
	color: #ee3333 ;
}
.menu-area ul li ul.sub-menu{
	background: #fff none repeat scroll 0 0;
	box-shadow: 5px 5px 7px 0 rgba(41, 41, 41, 0.05);
	width: 215px;
	position:absolute;
	left:0;
	top:100%;
	z-index:999;
	padding:15px 20px;
	transition:.3s;
	opacity:0;
	visibility:hidden;
}
.menu-area ul li:hover ul.sub-menu{
	opacity:1;
	visibility:visible;
}
.menu-area ul li ul.sub-menu li{
	display:block;
}
.menu-area ul li ul.sub-menu li a {
  color: #292929;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 26px;
  padding: 0!important;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.menu-area ul li ul.mega-menu{
	background: #fff none repeat scroll 0 0;
	box-shadow: 5px 5px 7px 0 rgba(41, 41, 41, 0.05);
	padding: 30px !important;
	position: absolute;
	width: 710px!important;
	left:0;
	top:100%;
	z-index:999;
	opacity:0;
	visibility:hidden;
}
.menu-area ul li:hover ul.mega-menu{
	opacity:1;
	visibility:visible;
}
.menu-area ul li ul.mega-menu li {
  display: block;
  float: left;
  margin: 0;
  width: 25%;
}
.menu-area ul li ul.mega-menu li a {
  color: #292929;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  padding: 0 0 20px 0 !important;
  text-transform: uppercase;
}
.menu-area ul li ul.mega-menu li ul.sub-menu-2 li {
  float: none;
   width: 100%;
}
.menu-area ul li ul.mega-menu li ul.sub-menu-2 li a {
  color: #707070;
  font-size: 12px;
  padding: 10px 0 0 !important;
  text-transform: capitalize;
  transition:.3s;
}
.menu-area ul li ul.mega-menu-2{
	width: 380px!important;
}
.menu-area ul li ul.mega-menu-2 li{
  float: left;
  width: 50%;
  display:block;
  margin: 0;
}
.header-right-area {
  float: right;
}
/* .header-right-area ul{} */
.header-right-area ul li{
	display:inline-block;
	margin-left:34px;
	position:relative;
}
.header-right-area ul li:first-child{
	margin-left:0;
}
.header-right-area ul li a {
  color: #292929;
  display: inline-block;
  font-size: 22px;
  padding: 30px 0;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.header-right-area ul li > span {
  color: #ee3333;
  font-size: 16px;
  position: absolute;
  right: -12px;
  top: 18px;
}
.mini-cart-sub{
	position:absolute;
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	display: block;
	left: auto;
	top: 100%;
	transform: scaleY(0);
	transform-origin: 0 0 0;
	opacity: 0; 
	padding: 20px;
	right: 0;
	transition: all 0.5s ease 0s;
	visibility: hidden;
	width: 280px;
	z-index: 9999;
}
.header-right-area ul > li:hover .mini-cart-sub{
	opacity:1;
	visibility:visible;
	transform: scaleY(1);
} 
.cart-product .single-cart {
  margin-bottom: 15px;
  overflow: hidden;
}
.cart-product .single-cart .cart-img{
	display: block;
	float: left;
	margin-right: 15px;
	width: 65px;
}
.cart-product .single-cart .cart-img a{
	padding:0;
}
.cart-product .single-cart .cart-img a img {
  width: 100%;
}
.cart-product .single-cart .cart-info{
	overflow: hidden;
	padding-right: 20px;
	position: relative;
}
.cart-product .single-cart .cart-info h5{
	margin-bottom: 0px;
}
.header-right-area ul > li .cart-product .single-cart .cart-info h5 a {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 0;
  padding:15px 0;
  text-transform: capitalize;
}
.header-right-area ul > li .cart-product .single-cart .cart-info h5 a:hover, .header-right-area ul > li .cart-bottom a:hover{
	color:#ee3333;
}
.cart-product .single-cart .cart-info p{
	margin-bottom:0;
	font-size: 14px;
}
.cart-totals{
	margin-bottom:15px;
}
.cart-totals h5{
	color: #707070;
	display: block;
	font-size: 15px;
	font-weight: 400;
	margin: 0;
	text-transform: uppercase;
}
.cart-totals h5 span{
	display: block;
	float: right;
}
.header-right-area ul > li .cart-bottom a {
  background-color: #707070;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 36px;
  line-height: 24px;
  padding: 7px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.header-right-area ul > li .cart-bottom a:hover{
	background:#ee3333;
	color: #fff;
}
.search-content{
	position:absolute;
	animation: 0.5s linear 0s alternate none 1 running fadeIn;
	background: rgba(21, 21, 21, 0.99) none repeat scroll 0 0;
	bottom: 0;
	display: none;
	left: 2.6%;
	position: fixed;
	right: 2.6%;
	top: 83px;
	z-index:999999;
}
.search-content .search-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 40px;
}
.search-content h1{
	color: #fff;
	font-size: 48px;
	font-weight: 500;
	margin: 0 0 70px;
	text-transform: capitalize;
}
.search-content form{
	position:relative;
}
.search-content form input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #bababa;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 0;
  width: 100%;
  border:0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.search-content form button.btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 6px;
  z-index: 2;
}
.search-content form button.btn:hover{
	color:#ee3333;
}
.shapping-area{
	background:#fff;
	animation: 0.5s linear 0s alternate none 1 running fadeIn;
	border: medium none;
	border-radius: 0;
	box-shadow: 5px 5px 7px 0 rgba(41, 41, 41, 0.05);
	left: auto;
	margin: 0;
	display:none;
	min-width: 300px;
	padding: 40px;
	right: 0;
	top: 100%;
	position:absolute;
	z-index:999;
}
.shapping-area .single-shapping span {
  border-bottom: 1px solid rgba(55, 55, 55, 0.1);
  color: #292929;
  display: block;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.shapping-area .single-shapping ul{
	list-style: outside none none;
	padding-left: 20px;
}
.shapping-area .single-shapping ul li{
	display: block;
	margin:0;
}
.shapping-area .single-shapping ul li a{
	color: #6b6b6b;
	font-size: 12px;
	line-height: 30px;
	padding: 0;
	transition:.3s;
	text-decoration:none;
}
.shapping-area .single-shapping ul li a:hover{
	color:#ee3333;
}
.header-top-area.sticky,.home-2 .header-top-area.sticky,.home-4 .header-top-area.sticky {
	background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.header-top-area.sticky .logo-area {
  margin-top: 12px;
}
.header-top-area.sticky .menu-area ul li a {
  padding: 16px 0;
}
.header-top-area.sticky .header-right-area ul li a{
	padding:16px 0;
}
.header-top-area.sticky .header-right-area ul li > span {
  top: 7px;
}
.mobile-menu-area.hidden-md.hidden-lg {
  clear: both;
  position: relative;
  z-index: 9;
}
.search-content span.close {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  opacity: 1;
  position: relative;
  right: 40px;
  top: 20px;
  z-index: 999999;
}
/*----------------------------------------*/
/*  3.  slider-area
/*----------------------------------------*/
.slider-area{
	position:relative;
	clear: both;
}
.nivo-caption {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  bottom: auto;
  color: #fff;
  display: none;
  left: 0;
  opacity: 1;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 6;
}
.slider-text h5{
	color: #292929;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.3;
	margin: 0;
	text-transform: uppercase;
}
.slider-text h2{
	color: #3d4760;
	font-size: 250%;
	font-weight: 300;
	margin: 70px 0 0;
	text-transform: uppercase;
}
.slider-text h1{
	color: #3d4760;
	font-size: 500%;
	font-weight: 700;
	margin: 0 0 15px;
	text-transform: uppercase;
}
.slider-text p{
	color: #292929;
	font-size: 14px;
	letter-spacing: 0.025em;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
.slider-text a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #292929;
  border-radius: 0;
  color: #292929;
  display: inline-block!important;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
  padding: 15px 55px;
  text-transform: uppercase;
  transition:.3s;
}
.slider-text a:hover{
	border: 2px solid #292929;
	background: #292929 none repeat scroll 0 0;
	color: #fff;
}
.nivo-directionNav a{
	background: #f7f7f9 none repeat scroll 0 0;
	border: 3px solid #e1e1e1;
	border-radius: 100%;
	color: #9e9e9e;
	display: block;
	font-size: 18px;
	height: 60px;
	line-height: 54px;
	opacity: 0;
	text-align: center;
	width: 60px;
	z-index: 9;
	transition:.3s;
}
.slider-area:hover .nivo-directionNav a{
	opacity:1;
}
.nivo-directionNav a:hover{
	background: #292929 none repeat scroll 0 0;
	border-color: #292929;
	color:#fff;
}
.nivo-controlNav {
  bottom: 5px;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
  z-index: 23;
}
.nivo-controlNav a {
  background: #e1e1e1 none repeat scroll 0 0;
  border-radius:0;
  display: inline-block;
  height: 3px;
	margin: 0 5px;
  text-indent: -99999px;
  width: 25px;
}
.nivo-controlNav a.nivo-control.active {
  background: #292929  none repeat scroll 0 0;
  border-image: none;
  border-radius:0;
}
/*----------------------------------------*/
/*  4.  founder-area
/*----------------------------------------*/
.founder-description h3{
	color: #929292;
font-size: 12px;
margin: 0 0 5px;
text-transform: capitalize;
}
.founder-description h1{
	font-size: 30px;
	font-weight: 500;
	margin: 0 0 40px;
	text-transform: capitalize;
}
.founder-description img {
  margin-bottom: 35px;
  display:inline-block;
}
.founder-description p{
	letter-spacing: 0.025em;
	line-height: 30px;
	margin: 0 0 50px;
}
.founder-description h4{
	font-size: 12px;
	font-weight: 600;
	margin: 0;
	text-transform: uppercase;
}
.founder-description h4 span{
	color: #707070;
	font-weight: 400;
}
/*----------------------------------------*/
/* 5.  banner-area
/*----------------------------------------*/
/* .banner-area{} */
.single-banner{
	position:relative;
	overflow:hidden;
}
.single-banner .banner-img a img{
	width:100%;
	transition:.4s;
	transform:scale(1.0);
}
.single-banner:hover .banner-img a img{
	transform:scale(1.1);
}
.single-banner .banner-content{
	bottom: 20px;
	left: 20px;
	position: absolute;
}
.single-banner .banner-content a{
	background: #fff none repeat scroll 0 0;
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
	color: #292929;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	padding: 20px 30px;
	text-transform: capitalize;
	transition:.3s;
}
.single-banner:hover .banner-content a{
	color:#ee3333;
}
.banner-content-2{
	left: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.banner-content-2 h3{
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	margin: 0 0 15px;
}
.banner-content-2 h2{
	font-size: 24px;
	font-weight: 400;
	line-height: 1;
	margin: 0;
	text-transform: capitalize;
}
.banner-content-2 a{
	border-bottom: 2px solid #292929;
	color: #292929;
	display: inline-block;
	font-weight: 600;
	line-height: 1;
	margin-top: 80px;
	padding-bottom: 5px;
	text-transform: uppercase;
	transition:.3s;
}
.banner-content-2 a:hover{
	border-color: #ee3333;
	color: #ee3333;
}
/*----------------------------------------*/
/* 6.  feature-product-area
/*----------------------------------------*/
.section-title h2{
	font-size: 30px;
	font-weight: 500;
	margin: 0 0 13px;
	text-transform: capitalize;
}
.section-title p {
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 24px;
  margin: 0 auto;
  max-width: 550px;
}
.tab-menu ul li{
	display: inline-block;
	position: relative;
}
.tab-menu ul li a {
  background: #f1f1f1 none repeat scroll 0 0;
  border-radius: 3px;
  color: #707070;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  margin: 0 5px;
  padding: 14px 30px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
}
.tab-menu ul li.active a,.tab-menu ul li:hover a{
	background: #292929 none repeat scroll 0 0;
color: #fff;
}
.tab-menu ul li.active::before {
  border-color: #292929 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  bottom: -4px;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -5px;
  opacity: 1;
  position: absolute;
  width: 0;
}
.tab-menu ul li:before{
	border-color: #292929 transparent transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	bottom: -4px;
	content: "";
	height: 0;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	width: 0;
	opacity:0;
	transition:.3s;
}
.tab-menu ul li:hover:before{
	opacity:1;
}
.product-wrapper,.product-wrapper-2{
	position:relative;
	overflow:hidden;
}
.product-wrapper .product-img,.product-wrapper-2 .product-img-2{
	position:relative;
}
.product-wrapper .product-img a img,.product-wrapper-2 .product-img a img{
	width:100%;
}
.product-wrapper .product-img a .secondary,.product-wrapper-2 .product-img-2 a .secondary{
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s ease 0s;
	z-index: 1;
}
.product-wrapper:hover .product-img a .secondary,.product-wrapper-2:hover .product-img-2 a .secondary{
	opacity: 1;
}
.product-wrapper .product-img span{
	background: #292929  none repeat scroll 0 0;
	border-radius: 100%;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	height: 50px;
	left: 20px;
	line-height: 50px;
	position: absolute;
	text-align: center;
	text-transform: capitalize;
	top: 20px;
	width: 50px;
	z-index: 2;
}
.product-wrapper .product-img .product-icon{
	bottom: 20px;
	left: -100%;
	position: absolute;
	z-index: 3;
	transition:.8s;
}
.product-wrapper:hover .product-img .product-icon{
	left: 40px;
}
.product-wrapper .product-img .product-icon a{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: #292929;
	display: inline-block;
	font-size: 20px;
	line-height: 1;
	text-align: center;
	width: 60px;
	background: #fff none repeat scroll 0 0;
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
	padding: 16px 0;
	text-align: center;
	transition:.3s;
}
.product-wrapper .product-img .product-icon a:hover{
	color:#ee3333;
}
.product-wrapper .product-content .manufacture-product{
	overflow:hidden;
}
.product-wrapper .product-content .manufacture-product a{
	color: #929292;
	letter-spacing: 0.025em;
	line-height: 18px;
	text-transform: capitalize;
	font-size:12px;
	float:left;
	width:50%;
	transition:.3s;
}
.product-wrapper .product-content .manufacture-product .rating{
	float: right;
	width: 50%;
	text-align:right;
}
.product-wrapper .product-content .manufacture-product .rating ul li{
	display:inline-block;
}
.product-wrapper .product-content .manufacture-product .rating ul li a{
	color:#F5C60D;
	font-size:12px;
}
.icon.ion-drag {
  border: 2px solid #E1E1E1;
  padding: 0 5px;
}
.product-wrapper .product-content h2{
	margin: 0 0 15px;
	line-height: 18px;
}
.product-wrapper .product-content h2 a{
	color: #292929;
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
	transition:.3s;
}
.product-wrapper .product-content h2 a:hover,.product-wrapper .product-content .manufacture-product a:hover{
	color:#ee3333;
}
.product-wrapper .product-content .price ul li{
	color: #929292;
	font-family: "Karla",sans-serif;
	font-size: 16px;
	margin: 0;
	display:inline-block;
}
.product-wrapper .product-content .price ul li.new-price{
	margin-right:4px;
}
.product-wrapper .product-content .price ul li.old-price{
	color: #ee3333;
	font-weight: 700;
}
.tab-content{
	clear: both;
}
.tab-content > .tab-pane {
  display:block;
  overflow:hidden;
  height:0;
}
.tab-content > .active{
 display:block;
 overflow:visible;
 height:auto;
}
/* .product-active.owl-carousel.owl-theme .owl-controls{} */
.product-active.owl-carousel.owl-theme .owl-controls .owl-nav div,.blog-active.owl-carousel.owl-theme .owl-controls .owl-nav div{
	background: #f7f7f9 none repeat scroll 0 0;
	border: 3px solid #e1e1e1;
	border-radius: 100%;
	font-size:18px;
	color: #9e9e9e;
	height: 50px;
	opacity: 0;
	position: absolute;
	line-height:46px;
	text-align: center;
	top: 50%;
	width: 50px;
	transform:translateY(-50%);
	transition:.3s;
}
.product-active.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-next,.blog-active.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-next{
	left:auto;
	right:0;
}
.product-active.owl-carousel.owl-theme .owl-controls .owl-nav div:hover,.blog-active.owl-carousel.owl-theme .owl-controls .owl-nav div:hover{
	background: #292929 none repeat scroll 0 0;
	border-color: #292929;
	color: #fff;
}
.product-active:hover.owl-carousel.owl-theme .owl-controls .owl-nav div,.blog-active:hover.owl-carousel.owl-theme .owl-controls .owl-nav div{
	opacity:1;
}
/*----------------------------------------*/
/* 7.  testimonial-area
/*----------------------------------------*/
.testimonial-area{
	background: #f6f6f6 url("img/banner/6.jpg") no-repeat fixed center center;
	position:relative;
}
.single-testimonial .testimonial-img{
	margin-bottom:30px;
}
.single-testimonial .testimonial-img a {
  display: inline-block;
}
.single-testimonial .testimonial-content p{
	color: #707070;
	letter-spacing: 0.025em;
	line-height: 30px;
	margin-bottom: 25px;
	padding: 0 10%;
}
.single-testimonial .testimonial-content i{
	color: #cecece;
	font-size: 20px;
}
.single-testimonial .testimonial-content h4{
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.5em;
	line-height: 30px;
	margin: 15px 0 0;
}
.testimonial-active.owl-carousel.owl-theme .owl-controls .owl-nav div{
	color: #cecece;
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	font-size:48px;
	opacity:0;
	transition:.3s;
}
.testimonial-active.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-next{
	left:auto;
	right:0;
}
.testimonial-active.owl-carousel.owl-theme .owl-controls .owl-nav div:hover{
	color:#292929;
}
.testimonial-area:hover .testimonial-active.owl-carousel.owl-theme .owl-controls .owl-nav div{
	opacity:1;
}
/*----------------------------------------*/
/* 8.  arrivals-area
/*----------------------------------------*/
.arrivals-area .product-wrapper .product-img span {
  background: #ee3333  none repeat scroll 0 0;
}
/*----------------------------------------*/
/* 9.  banner-area-2
/*----------------------------------------*/
.single-banner-2 .banner-text h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 25px 0;
  text-transform: capitalize;
}
.single-banner-2 .banner-text p{
	font-size:12px;
	color: #929292;
	letter-spacing: 0.025em;
	line-height: 24px;
	margin: 0;
}
.banner-area .container-fulied {
  margin: 0 64px;
}
.br-bottom{
	border-bottom:1px solid #ebebeb;
	overflow:hidden;
}
/*----------------------------------------*/
/* 10.  blog-area
/*----------------------------------------*/
.blog-active {
  clear: both;
}
.single-blog{
	overflow:hidden;
}
.single-blog .blog-img{
	position:relative;
}
/* .single-blog .blog-img a{} */
.single-blog .blog-img a:before{
	background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.single-blog:hover .blog-img a:before{
	opacity:1;
}
.single-blog .blog-img .date{
	background: #fff none repeat scroll 0 0;
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
	color: #929292;
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	padding: 15px;
	position: absolute;
	right: 20px;
	text-transform: capitalize;
	top: 20px;
}
.single-blog .blog-img .date span{
	color: #292929;
	display: block;
	font-family: "Karla",sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin-top: 10px;
	
}
.single-blog .blog-img a img{
	width:100%;
}
/* .single-blog .blog-content{} */
.single-blog .blog-content h3{
	margin: 0 0 5px;
}
.single-blog .blog-content h3 > a{
	color: #292929;
	display: block;
	font-size: 16px;
	font-weight: 500;
	overflow: hidden;
	text-transform: capitalize;
	transition:.3s;
}
.single-blog .blog-content h3 > a:hover,.newlatter-content form a:hover,.footer-social-icon ul li a:hover{
	color:#ee3333;
}
.single-blog .blog-content span{
	color: #292929;
	font-size:12px;
}
.single-blog .blog-content p{
	color: #707070;
	letter-spacing: 0.025em;
	line-height: 24px;
	margin: 10px 0 30px;
	font-size:12px;
}
.single-blog .blog-content > a{
	border-bottom: 2px solid rgba(226, 226, 226, 0.8);
	color: #292929;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 5px;
}
/*----------------------------------------*/
/* 11.  newslatter-area
/*----------------------------------------*/
/* .newslatter-area{} */
.bt-top{
	border-top:1px solid #ebebeb;
	overflow:hidden;
}
.newlatter-content h6 {
  color: #707070;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.newlatter-content h3{
	color: #292929;
	font-size: 30px;
	line-height: 24px;
	margin: 0 0 20px;
	text-transform: capitalize;
}
.newlatter-content p{
	font-weight: 300;
	letter-spacing: 0.025em;
	line-height: 24px;
	margin: 0 auto;
	margin: 0 0 55px;
}
.newlatter-content form{
	position: relative;
	margin:0 auto;
	max-width:600px;
	overflow:hidden
}
.newlatter-content form input {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #ebebeb;
  color: #9d9d9d;
  display: block;
  float: left;
  height: 55px;
  margin: 0;
  padding: 0 190px 0 20px;
  width: 100%;
  outline: none;
}
.newlatter-content form button {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #292929;
  font-size: 12px;
  font-weight: 600;
  height: 51px;
  line-height: 30px;
  padding: 0 60px;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  border-left: 2px solid #ebebeb;
}
/*----------------------------------------*/
/* 12.  footer
/*----------------------------------------*/
/*----------------------------------------*/
/* 12.1  footer-area
/*----------------------------------------*/
.footer-area{
	border-top:1px solid #ebebeb;
	overflow:hidden;
}
.copy-right-area p{
	color: #929292;
	font-size:12px;
	letter-spacing: 0.025em;
	line-height: 22px;
	margin: 0;
}
.copy-right-area p a{
	color:#ee3333;
	text-decoration:none;
}
.footer-social-icon{
	float:right;
}
.footer-social-icon ul li{
	display: inline-block;
	padding-left:20px;
}
.footer-social-icon ul li:first-child{
	padding-left:0;
}
.footer-social-icon ul li a{
	font-size:15px;
	color: #929292;
	transition:.3s;
}
/*----------------------------------------*/
/*  13. modal
/*----------------------------------------*/
.modal-content {
  overflow: hidden;
  position: relative;
  border-radius: 0;
}
#mymodal .modal-dialog {
  width: 870px;
}
.modal-header {
  border: medium none;
  padding: 0;
}
.modal-header button.close {
  border: 1px solid #aaa;
  font-size: 25px;
  height: 30px;
  line-height: 20px;
  opacity: 1;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.3s ease 0s;
  width: 30px;
  z-index: 22;
}
.modal-header button.close:hover{
	border-color:#ee3333;
	color:#ee3333;
}
.modal-img{
	float:left;
	width:40%;
}
.model-text {
  float: right;
  padding-left: 15px;
  width: 60%;
  margin-bottom:20px;
}
.model-text h2 a {
  font-size: 25px;
  color: #000;
}
.model-text .product-rating {
  display: inline-block;
  margin-bottom: 5px;
}
.model-text .product-rating a{
	margin-right:5px;
	color:#ee3333;
}
.model-text .price-rate span.old-price {
  font-size: 18px;
}
.model-text .price-rate span.new-price {
	font-size:22px;
}
.model-text h2 a:hover,.model-text .price-rate span.new-price,.model-text .product-rating a:hover {
	color:#ee3333;
}
.model-text .short-description p {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 15px 0;
}
.model-text form input {
  background: #eceff8 none repeat scroll 0 0;
  border: 1px solid #aaa;
  color: #626262;
  font-size: 16px;
  height: 40px;
  text-align: center;
  width: 80px;
}
.model-text form button {
  margin-left: 20px;
  border: none;
  padding: 11px 30px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  transition:.3s;
}
.model-text form button:hover{
	background:#ee3333;
}
.model-text .product-meta {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding: 10px 0;
}
.model-text .product-meta span a {
  color: #ee3333;
  padding: 0px 2px;
  text-transform: capitalize;
}
.model-text .social-icon ul li a {
  border: 1px solid #ddd;
  color:#393939;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  line-height: 28px;
}
.model-text .social-icon ul li a:hover{
	border-color:#ee3333;
	background:#ee3333;
	color:#fff;
}
.social-icon ul li{
	display:inline-block;
}
a#scrollUp {
  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
  border: 2px solid #ebebeb;
  bottom: 104px;
  color: #292929;
  font-size: 30px;
  font-weight: 600;
  padding: 12px 15px;
  position: fixed;
  right:  20px;
  text-align: center;
  text-transform: uppercase;
  z-index: 999;
  transition:.3s;
}
a#scrollUp:hover{
	border-color: #ee3333;
}
/*----------------------------------------*/
/*  14. home-2
/*----------------------------------------*/
.home-2 .nivo-caption,.home-3 .nivo-caption,.home-4 .nivo-caption {
  top: 50%;
  transform: translateY(-50%);
}
.home-2 .slider-text h3,.home-3 .slider-text h3,.home-4 .slider-text h3{
	color: #292929;
	font-size: 300%;
	font-weight: 500;
	margin: 0;
	text-transform: capitalize;
}
.home-2 .slider-text p,.home-3 .slider-text p,.home-4 .slider-text p{
	margin: 35px 0 0;
}
.home-2 .slider-text a, .home-3 .slider-text a, .home-4 .slider-text a {
  margin-top: 40px;
}
.home-2 .logo-area {
  text-align: center;
  margin-top: 28px;
}
.home-2 .header-top-area.sticky .logo-area {
  margin-top: 14px;
}
.home-2 .header-top-area {
  left: 0;
  padding: 20px 2.5% 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.home-2 .header-top-area.sticky,.home-4 .header-top-area.sticky {
  padding: 0 2.5%;
}
.width-short .col-lg-5{
	width: 39.2%;
}
.width-short .col-lg-2{
	width: 21.6%;
}
/* .width-short .col-lg-5{} */
/*----------------------------------------*/
/*  15. home-3
/*----------------------------------------*/
.home-3 header{
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 99;
	top:0;
	padding-top: 12px;
}
.home-3 .menu-area ul li ul.sub-menu {
  text-align: left !important;
}
.home-3 .menu-area ul li ul.mega-menu {
  text-align: left !important;
}
.home-3 .menu-area ul li a {
  padding: 15px 0;
}
.home-3 .logo-area {
  text-align: center;
}
.home-6 .logo-area {
  text-align: center;
}
.home-3 .banner-area .container-fulied {
  margin: 0 0;
}
.home-3 .header-menu-area.sticky {
  background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.home-3 .header-menu-area.sticky .menu-area ul li a {
  padding: 10px 0;
}
.header-left-area {
  margin-top: 15px;
}
.header-left-area ul li{
	display: inline-block;
	margin-right: 25px;
	position: relative;
}
.header-left-area ul li:last-child{
	margin-right: 0;
}
.header-left-area ul li a {
  color: #292929;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  padding: 15px 0;
  text-transform: uppercase;
}
.header-left-area ul li a i{
	padding-left:8px;
}
.header-left-area ul li .left-menu {
  background: #fff none repeat scroll 0 0;
  box-shadow: 5px 5px 7px 0 rgba(41, 41, 41, 0.05);
  left: 0;
  padding: 20px;
  position: absolute;
  transform: scaleY(0);
  transform-origin: 0 0 0;
  transition:.5s;
  visibility:hidden;
  opacity:0;
  top: 100%;
  z-index: 9999999999;
  width: 173px;
}
.header-left-area ul li:hover .left-menu{
	opacity:1;
	visibility:visible;
	transform: scaleY(1);
}
.header-left-area ul li .left-menu ul li{
	display:block;
}
.header-left-area ul li .left-menu ul li a{
	color: #888;
	font-size: 12px;
	line-height: 30px;
	padding:0;
	margin:0;
	transition:.3s;
}
.header-left-area ul li .left-menu ul li a:hover{
	color:#ee3333;
}
.home-3 .banner-area .container-fulied {
  margin: 0 15px;
}
/*----------------------------------------*/
/*  16. home-4
/*----------------------------------------*/
.home-4 .header-top-area {
  left: 0;
  padding: 20px 2.5% 0;
  position: absolute;
  width: 100%;
  z-index: 99;
}
.banner-content-3{
	bottom: 18%;
	left: 10%;
	position: absolute;
	text-align: left;
}
.banner-content-3 h2{
	color: #292929;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	margin: 0;
	text-transform: capitalize;
}
.banner-content-3 a{
	color: #808080;
	display: inline-block;
	margin-top: 20px;
	text-transform: capitalize;
	transition:.3s;
}
.banner-content-3 a:hover{
	color:#ee3333;
}
.footer-content p{
	color: #707070;
	font-size: 12px;
	letter-spacing: 0.025em;
	line-height: 2;
	margin: 30px 0;
}
.footer-content .footer-social h3{
	color: #292929;
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 20px;
	text-transform: capitalize;
}
.footer-content .footer-social ul li{
	margin-right: 10px;
	display:inline-block;
}
.footer-content .footer-social ul li:last-child{
	margin-right: 0;
}
.footer-content .footer-social ul li a{
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 100%;
	color: #aaaaaa;
	display: inline-block;
	height: 41px;
	line-height: 41px;
	text-align: center;
	width: 41px;
	transition:.3s;
}
.footer-content .footer-social ul li a:hover{
	background: #292929 none repeat scroll 0 0;
	color:#fff;
}
.footer-top-area{
	background:#f6f6f6 ;
	overflow:hidden;
}

.bg{
	overflow:hidden;
}
.footer-title h5{
	color: #292929;
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 35px;
	text-transform: capitalize;
}
.footer-content-2 ul li{
	color: #707070;
	line-height: 1;
	padding-bottom: 25px;
}
.footer-content-2 h4 {
  color: #292929;
  font-size: 12px;
  margin: 8px 0 0;
  text-transform: capitalize;
}
.footer-top-menu ul li{
	display:block;
}
.footer-top-menu ul li a{
	color: #707070;
	display: inline-block;
	padding-bottom: 15px;
	transition:.3s;
}
.footer-top-menu ul li a:hover,.footer-bottom-menu ul li a:hover{
	color:#ee3333;
}
.footer-bottom-menu{
	float:right;
}
.footer-bottom-menu ul li{
	display: inline-block;
	margin-left: 35px;
}
.footer-bottom-menu ul li:first-child{
	margin-left: o;
}
.footer-bottom-menu ul li a{
	color: #929292;
	transition:.3s;
}
/*----------------------------------------*/
/*  17. home-5
/*----------------------------------------*/
.home-5 header,.home-6 header {
  padding-top: 0;
  position: static;
}
.home-5 .br-bottom {
  border-bottom: 0 none;
}
.home-5{
	background:#f4f4f4 ;
}
 .home-5 .nivo-caption {
  left: 6%;
}
 .home-5 .slider-text a {
  margin-top: 30px;
}
.home-5 #page-wraper-2 {
  margin: 0 auto;
  max-width: 1200px;
}
.home-5 .slider-area {
  padding-top: 30px;
}
.home-5 .banner-area,.home-5 .slider-area,.home-5 .founder-area,.home-5 .feature-product-area,.home-5 .arrivals-area,.home-5 .blog-area,.home-5 .newslatter-area{
  background: #fff none repeat scroll 0 0;
}
/*----------------------------------------*/
/*  18. home-6
/*----------------------------------------*/
.home-6 .bg, .home-6 .footer-top-area {
  background: #292929 none repeat scroll 0 0;
  overflow: hidden;
}
.home-6 .footer-content .footer-social h3,.home-6 .footer-title h5 {
  color: #fff;
}
.home-6 .footer-content .footer-social ul li a {
  background: #363636 none repeat scroll 0 0;
  color: #636363;
}
.home-6 .footer-content .footer-social ul li a:hover {
  background: #ee3333 none repeat scroll 0 0;
  color: #fff;
}
.home-6 .header-top-area {
  background: #f6f6f6 none repeat scroll 0 0;
  padding: 30px 0;
}
.home-6 .header-menu-area {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}
.home-6 .menu-area ul li a {
  padding: 22px 0;
}
.home-6 .slider-text h5{
	color: #292929;
	font-size: 112.5%;
	margin: 0 0 25px;
	text-transform: uppercase;
}
.home-6 .slider-text h4 {
  color: #292929;
  font-size: 187.5%;
  font-weight: 700;
  letter-spacing: 1.4em;
  margin: 0 -1.4em 20px 0;
}
.home-6 .slider-text p {
  margin: 22px 0 0;
}
.home-6 .slider-text a {
  margin-top: 32px;
}
.product-img-2 {
  float: left;
  width: 85px;
}
.product-content-2 {
  width: auto;
  padding-left: 100px;
}
.product-content-2 .manufacture-product{
	margin-bottom:8px;
	overflow:hidden;
}
.product-content-2 .manufacture-product a{
	color: #929292;
	letter-spacing: 0.025em;
	line-height: 18px;
	text-transform: capitalize;
	transition:.3s;
	float:left;
	width:50%
}
.product-content-2 .manufacture-product a:hover,.product-content-2 h2 a:hover{
	color:#ee3333;
}
.product-content-2 .manufacture-product .rating{
	float:right;
	width:50%;
}
.product-content-2 .manufacture-product .rating ul li{
	display: inline-block;
}
.product-content-2 .manufacture-product .rating ul li a{
	color: #f5c60d;
	font-size: 12px;
}
.product-content-2 h2{
	margin: 0 0 15px;
	line-height:8px;
}
.product-content-2 h2 a{
	color: #292929;
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
	transition:.3s;
}
.product-content-2 .price ul li{
	color: #929292;
	font-family: "Karla",sans-serif;
	font-size: 16px;
	margin: 0;
	display:inline-block;
}
.product-content-2 .price ul li.new-price{
	color: #ee3333;
	font-weight: 700;
}
.section-title-2 h2{
	background: #fff none repeat scroll 0 0;
	color: #292929;
	display:block;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	margin: 0;
	padding-right: 20px;
	text-transform: capitalize;
	margin-bottom: 35px;
	position: relative;
}
.section-title-2 h2:before{
	background: #f0f0f0 none repeat scroll 0 0;
	content: "";
	height: 1px;
	left: auto;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 1;
	width:40%;
	right:0
}
.best-sell-active{
	overflow:hidden;
}
/*----------------------------------------*/
/*  19. shop
/*----------------------------------------*/
.breadcrumbs-area{
	background: #f6f6f6 url("img/banner/20.jpg") no-repeat scroll center top;
	margin: 0;
	padding: 120px 0 200px;
}
.container {
  max-width: 100%;
}
.breadcrumb-content h2{
	color: #333333;
	font-size: 36px;
	font-weight: 500;
	margin: 0 0 20px;
	text-transform: capitalize;
}
.breadcrumb-content ul li{
	display:inline-block;
}
.breadcrumb-content ul li a{
	color: #707070;
	text-transform: capitalize;
	
}
.breadcrumb-content ul li.active a{
	color: #ee3333;
}
.shop-main-area {
  background: #fff none repeat scroll 0 0;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: -80px;
  padding: 80px 30px 20px;
}
.page-bar{
	border-bottom: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
	float: left;
	margin: 0 0 60px;
	padding: 15px 0;
	width: 100%;
}
.shop-right-area {
  overflow: hidden;
}
.shop-tab .tab-menu-3 {
  display: inline-block;
  float: left;
  margin-top: 2px;
  position: relative;
}
.shop-tab .tab-menu-3 ul{}
.shop-tab .tab-menu-3 ul li{
	display:inline-block;
	margin-right:5px;
}
.shop-tab .tab-menu-3 ul li a {
  color: #e2e2e2;
  line-height: 16px;
  font-size: 20px;
}
.shop-tab .tab-menu-3 ul li.active a{
	color: #ee3333 ;
}
.shop-tab .toolbar-sorter {
  float: right;
  margin-left: 50px;
}
.shop-tab .toolbar-sorter-2{
  float: right;
}
.Categories-title > h3 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}
.Categories-list-title h3{
	color: #292929;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	margin: 0 0 25px;
	padding: 0;
	text-transform: capitalize;
}
.Categories-list ul li{
	padding: 5px 0;
	display:block;
}
.Categories-list ul li a {
  color: #292929;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.Categories-list ul li a:hover{
	color:#ee3333;
}
.single-shop input {
  border: 1px solid #aaa;
  font-size: 16px;
  font-weight: 700;
  margin-top: 15px;
  padding: 3px 0;
  text-align: center;
  width:80%;
}
.ui-widget-content {
  border: 1px solid #ddd;
  height:10px;
}
.ui-slider .ui-slider-range {
  background: #EE3333 none repeat scroll 0 0;
  height: 8px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: medium none;
  border-radius: 50%;
  top:-3px;
  border:2px solid #898989;
  /* transition:.3s; */
}
 .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
	border:2px solid #EE3333; 
 }
.ui-slider .ui-slider-handle {
  cursor: pointer;
  height: 13px;
  position: absolute;
  width: 13px;
  z-index: 2;
}
.product-wrapper-3 .product-img{
	float:left;
	width:30%;
}
.product-wrapper-3 .product-content {
  float: left;
  width: 70%;
  padding-left: 20px;
}
.product-wrapper-3 .product-content p{
	border-top: 1px solid #ebebeb;
	margin: 40px 0 0;
	padding-top: 40px;
}
.pagination-area{
	border-bottom: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
	clear: both;
	float: left;
	margin: 60px 0 0;
	padding: 18px 0;
	width: 100%;
}
.pagination-number{
	float:left;
}
.pagination-number ul li{
	display:inline-block;
}
.pagination-number ul li a {
  color: #929292;
  font-size: 15px;
  line-height: 1;
  margin-right: 14px;
}
.product-count{
	float:right;
}
.product-count p{
	margin:0;
	color: #8d8c8c;
	font-size: 12px;
}

.shop .product-wrapper:hover .product-img .product-icon {
  left: 32px;
}
/*----------------------------------------*/
/*  20. product-details
/*----------------------------------------*/
.zoom-area > img {
  width: 100%;
}
#gallery a {
  display: inline-block;
  float: left;
  margin-right: 14px;
  position: relative;
  width: 23%;
}
#gallery a:last-child{
  margin-right: 0;
}
#gallery a::before {
  background: #aaa none repeat scroll 0 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 100%;
}
#gallery a.active::before {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.zoom-product-details h1{
	color: #292929;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	margin: 0;
	text-transform: capitalize;
}
.zoom-product-details .main-area{
	overflow:hidden;
}
.zoom-product-details .main-area .rating{
	float:left;
}
.zoom-product-details .main-area .rating ul li{
	display:inline-block;
}
.zoom-product-details .main-area .rating ul li a{
	color: #f5c60d;
	float: left;
	font-size: 12px;
	letter-spacing: 0.025em;
	line-height: 18px;
	text-transform: capitalize;
	transition: all 0.3s ease 0s;
	width: 50%;
}
.zoom-product-details .main-area .review-2{
	float:left;
	margin-left:10px;
}
.zoom-product-details .main-area .review-2 a{
	color:#292929;
	text-decoration:none;
	transition:.3s;
}
.zoom-product-details .main-area .review-2 a:hover{
	color:#ee3333;
}
.zoom-product-details .price{
	margin-bottom:25px;
}
.zoom-product-details .price ul li{
	color: #929292;
	display: inline-block;
	font-family: "Karla",sans-serif;
	font-size: 16px;
	margin: 0;
}
.zoom-product-details .list-unstyled-2 {
  margin-bottom: 10px;
}
.zoom-product-details .list-unstyled{
	margin-bottom:30px;
}
.zoom-product-details .list-unstyled ul li a{
	color:#ee3333;
}
.zoom-product-details form .product-icon {
  float: left;
  display: inline-block;
  margin-left: 30px;
}
.zoom-product-details form .product-icon a{
	border:1px solid #EBEBEB;
	color: #292929;
	display: inline-block;
	font-size: 20px;
	line-height: 1;
	padding: 14px 0;
	text-align: center;
	transition: all 0.3s ease 0s;
	width: 60px;
}
.zoom-product-details form .product-icon a:hover{
	color:#ee3333;
}
.quality-button {
  float: left;
  margin-right: 50px;
  position:relative;
}
.quality-button input.qty {
  border: 1px solid #aaa;
  display: inline-block;
  padding: 12px 30px;
  width: 70px;
  display:inline-block;
}
.quality-button input.plus {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #aaa;
  font-size: 18px;
  padding: 0 8px;
  position: absolute;
  right: -25px;
  text-align: center;
  top: 0;
  line-height:25px;
  border-bottom:none;
  border-left:none;
  transition:.3s;
}
.quality-button input.minus {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #aaa;
  bottom: 0;
  font-size: 18px;
  line-height:22px;
  padding: 0 8px;
  position: absolute;
  right: -25px;
  border-left:none;
  transition:.3s;
}
.zoom-product-details form button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #aaa;
  color: #444;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 700;
  padding: 11px 35px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.zoom-product-details form button:hover{
	background:#ee3333;
	border-color:#ee3333;
	color:#fff;
}
.reviews-area h3 {
  border-bottom: 1px solid #aaa;
  color: #333;
  font-size: 20px;
  padding-bottom: 10px;
}
.reviews-area p {
  font-size: 15px;
}
.reviews-area .rating-area h4 {
  color: #888;
  font-size: 13px;
  margin-bottom: 4px;
}
.reviews-area .rating-area a {
  color: #aaa;
  font-size: 14px;
}
.reviews-area .rating-area a:hover {
  color: #FF9C00;
}
.reviews-area .comment-form label {
  color: #888;
  font-weight: 500;
}
.reviews-area .comment-form textarea,.comments-form textarea ,.massage-box textarea  {
  display: block;
  width: 100%;
  border:1px solid #ccc;
  padding:3px 10px;
}
.reviews-area .comment-form-author label, .reviews-area .comment-form-email label {
  color: #888;
  font-weight: 500;
  text-transform: capitalize;
}
.reviews-area button{
	font-weight:500;
}
.reviews-area .comment-form-author input,.reviews-area .comment-form-email input {
  display: block;
  padding: 5px 0 5px 5px;
  width: 40%;
  border:1px solid #aaa;
}
.related-products-area{
	clear:both;
}
 .reviews-area button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #aaa;
  color: #444;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.products-detalis-area{
	overflow:hidden;
}
.price p {
  margin: 15px 0 0;
}
.catagory-select {
  border: 1px solid #e1e1e1;
  padding: 20px 30px;
}
.catagory-select h3 {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 15px;
}
.catagory-select form{}
.catagory-select form label {
  font-weight: 400;
  color: #707070;
  font-size: 17px;
  display: block;
}
.catagory-select form select{
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
}
/*----------------------------------------*/
/*  21. contact
/*----------------------------------------*/
#googleMap{
	height: 410px;
	width: 100%;
}
.contact-info h3,.contact-form h3{
	border-bottom: 2px solid #e8e8e9;
	font-size: 16px;
	margin-bottom: 20px;
	padding-bottom: 8px;
	text-transform: uppercase;
	font-weight:500;
}
.contact-info ul li{
	border-bottom: 1px solid #e8e8e9;
	float: left;
	font-size: 13px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	width: 100%;
}
.contact-info ul li i{
	font-size: 16px;
	margin-right: 5px;
	width: 20px;
}
.contact-info ul li span{
	font-weight:700;
}
.contact-info ul li a{
	color:#444;
	text-decoration:none;
	transition:.3s;
}
.contact-info ul li a:hover{
	color:#ee3333;
}
.contact-form h3 i {
  padding-right: 8px;
}
.contact-form .single-form-3 form input,.contact-form .single-form-3 form textarea {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #eceff8;
  font-size: 14px;
  margin-bottom: 16px;
  padding: 12px 10px;
  width: 100%;
  color: #333333;
}
.contact-form .single-form-3 form input[type="submit"] {
  background: #252525 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  margin-top: 16px;
  padding: 0 15px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 140px;
}
.contact-form .single-form-3 form input[type="submit"]:hover {
  background: #ee3333 none repeat scroll 0 0;
}
 .contact-info {
  overflow: hidden;
}
/*----------------------------------------*/
/*  22. about
/*----------------------------------------*/
.about-img{
	overflow:hidden;
}
.about-img a img{
	transform:scale(1);
	transition:.4s;
	width:100%;
}
.about-img a img:hover{
	transform:scale(1.1);
}
.single-counter,.single-team{
	margin-bottom:30px;
}
.about-content h3,.single-misson h3 {
  color: #252525;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 20px;
}
.about-content h3 span ,.single-misson h3 span{
  font-weight: 500;
  padding-left: 10px;
}
.about-content p,.single-misson p{
	color: #4a4d4f;
	font-size: 15px;
	line-height: 25px;
}
.about-content ul li{
	margin-top: 5px;
}
.about-content ul li a{
	font-size: 16px;
	color:#444;
	text-decoration:none;
	transition:.3s;
}
.about-content ul li a:hover{
	color:#ee3333;
}
.about-content ul li a i {
  color: #a08d7c;
  font-size: 16px;
  padding-right: 6px;
}
.counter-area {
  background: rgba(0, 0, 0, 0) url("img/banner/42.jpg") repeat scroll center center;
}
.single-counter h2{
  font-size: 40px;
  color:#444;
  font-weight:600;
}
.single-counter span{
	font-size: 15px;
	text-transform: uppercase;
}
.team-title h2{
	color: #252525;
	font-size: 28px;
}
.team-title h2 span{
	font-weight: 700;
}
.team-content{
	margin-top:15px;
}
.team-content h3{
	font-size: 20px;
	margin: 0;
	font-weight:500;
}
.team-content span {
  font-family: Yanone Kaffeesatz;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
}
.team-img-area{
	position:relative;
}
.team-img{
	position:relative;
}
.team-img a::before {
  background: #a08d7c none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 100%;
  z-index: 1;
  transform:scale(0);
}
.team-img a img {
  width: 100%;
}
.single-team:hover .team-img a::before{
	opacity:.5;
	transform:scale(1);
}
.team-link{
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 70%;
	transform: translateY(-50%);
	width: 100%;
	opacity:0;
	z-index:5;
	transition:.6s;
}
.single-team:hover .team-link{
	opacity:1;
	top:50%;
}
.team-link ul li{
	display: inline-block;
	margin: 0 10px;
}
.team-link ul li a{
	color: #fff;
	font-size: 20px;
	transition: all 0.3s ease 0s;
}
.team-link ul li a:hover{
	color:#ee3333
}
.skill-content h3{
	color: #252525;
	font-size: 28px;
	font-weight:500;
	margin-bottom:30px;
}
.skill-content h3 span {
  font-weight: 700;
  margin: 0 8px;
}
.skill-content p{
	color: #4a4d4f;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
}
.skill-content a {
  border-bottom: 1px solid #a08d7c;
  color: #a08d7c;
  font-size: 15px;
  display:inline-block;
  text-decoration:none;
  transition:.3s;
}
.skill-content a:hover{
	color:#ee3333;
	border-bottom: 1px solid #ee3333;
}
.skill-content a i {
  padding-left: 5px;
}
.skill-progress {
  overflow: hidden;
  padding-top: 30px;
}
.progress {
  height: 5px;
  margin-bottom: 40px;
  overflow: visible;
  position: relative;
  border-radius: 2px;
}
.progress .skill-title {
  color: #333;
  font-weight: 700;
  position: absolute;
  text-transform: uppercase;
  top: -28px;
}
.progress .progress-bar {
  background: rgb(123, 123, 123) none repeat scroll 0 0;
  border-radius: 2px 0 0 2px;
  height: 5px;
}
/*----------------------------------------*/
/*  23.  404 page
/*----------------------------------------*/
.page-not-found .entry-header p {
  color: #000;
  font-size: 24px;
  margin-bottom: 0;
}
.page-not-found .entry-content p {
  font-size: 15px;
  margin-bottom: 40px;
}
.page-not-found .entry-content a {
  border: 2px solid #aaa;
  color: #333;
  font-weight: 700;
  padding: 10px 30px;
  transition:.3s;
}
.page-not-found .entry-content a:hover{
	background: #ee3333 none repeat scroll 0 0;
	border-color: #ee3333;
	color: #fff;
}
/*----------------------------------------*/
/*  24. login
/*----------------------------------------*/
.login-title h2{
	color: #202020;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 15px;
	padding-bottom: 10px;
	text-transform: capitalize;
}
.login-title p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
}
.login-form{
	border: 1px solid rgba(0, 0, 0, 0.12);
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
	padding: 25px 30px;
	width: 100%;
}
.login-form .single-login{
	margin-bottom:15px;
}
.login-form .single-login label{
	color: #626262;
	font-size: 15px;
	font-weight: 400;
	margin-top:7px;
	display:block;
}
.login-form .single-login input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #eceff8;
  padding: 12px 10px;
  width: 100%;
}
.login-form .single-login a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #eceff8;
  display: inline-block;
  padding: 10px 43px;
  color: #626262;
  text-transform: capitalize;
  text-decoration: none;
  float: left;
  transition:.3s;
}
.login-form .single-login a:hover{
	background:#ee3333;
	color:#fff;
	border: 1px solid #ee3333;
}
.single-login input#rememberme {
  float: left;
  width: 7%;
  margin-top: 14px;
}
.single-login-2 span {
  float: left;
  margin-top: 10px;
}
.single-login-2{
	overflow:hidden;
}
.login-form > a{
	color: #ee3333;
	line-height: 24px;
	margin-bottom: 15px;
	font-size:13px;
}
/*----------------------------------------*/
/*  25. register
/*----------------------------------------*/
.single-register {
  margin-bottom: 15px;
  overflow: hidden;
}
.single-register label ,.single-register label {
  color: #626262;
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-top: 7px;
}
.single-register  input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #eceff8;
  box-shadow: none;
  color: #333333;
  font-size: 14px;
  height: 45px;
  padding: 0 15px;
  width: 100%;
}
.single-register .chosen-select{
	height: 45px;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #eceff8;
	color: #333333;
    font-size: 14px;
    height: 45px;
    padding-left: 10px;
	box-shadow: none;
	text-align:left;
}
.single-register input#billing_address_2 {
  margin-top: 15px;
}
.single-register-3 #rememberme {
    display: inline-block;
    float: left;
    width: 15px;
    height: 20px;
}
.single-register-3 label {
  display: inline-block;
  float: left;
  margin-top: 0;
  padding-left: 10px;
  font-size: 13px;
}
.single-register-3 label a {
  color: #ee3333;
  font-size: 14px;
  text-decoration: none;
}
.single-register > a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #eceff8;
  box-shadow: none;
  color: #626262;
  display: inline-block;
  font-size: 14px;
  margin-top: 6px;
  padding: 12px 48px;
  text-decoration:none;
  transition:.3s;
}
.single-register > a:hover{
	background-color:#ee3333;
	color:#fff;
	border:1px solid #ee3333;
}
/*----------------------------------------*/
/*  26.  Cart
/*----------------------------------------*/
.entry-header-title > h2 {
  color: #444;
  font-size: 30px;
  margin-bottom: 0;
}
.entry-header-area{
	padding-bottom: 40px;
}
.entry-header-area .ntry-header-title h2{
	font-size: 20px;
	margin: 0;
	text-transform: uppercase;
}
.table-content table {
  background: #fff none repeat scroll 0 0;
  border-color: #e5e5e5;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  margin: 0 0 50px;
  text-align: center;
  width: 100%;
}
.table-content table th, .table-content table td {
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.table-content table th {
  border-top: medium none;
  font-weight: normal;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}
.table-content table {
  text-align: center;
}
.table-content table td {
  border-top: medium none;
  font-size: 13px;
  padding: 20px 10px;
  vertical-align: middle;
}
.table-content table td.product-thumbnail {
  width: 130px;
}
.table-content table td.product-name a {
  color: #6f6f6f;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  text-decoration:none;
}
.table-content table td.product-price {
  width: 130px;
}
.table-content table td.product-quantity {
  width: 180px;
}
.table-content table td input {
  background: #e5e5e5 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #6f6f6f;
  font-size: 15px;
  font-weight: normal;
  height: 40px;
  padding: 0 5px 0 10px;
  width: 60px;
}
.table-content table td.product-subtotal {
  font-size: 14px;
  font-weight: bold;
  width: 120px;
}
.table-content table .product-price .amount {
  font-size: 15px;
  font-weight: 700;
}
.table-content table td.product-remove {
  width: 150px;
}
.table-content table td.product-remove i {
  color: #919191;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}
.buttons-cart ul li{
	display:inline-block;
}
.buttons-cart ul li a,.coupon form a{
	background: #252525 none repeat scroll 0 0;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	margin-right: 15px;
	padding: 0 15px;
	text-shadow: none;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}
.buttons-cart ul li:last-child a{
	margin-right:0;
}
.buttons-cart ul li a:hover,.coupon form a:hover{
	background: #ee3333 none repeat scroll 0 0;
	color: #fff;
}
.coupon {
  margin-bottom: 40px;
  overflow: hidden;
  padding-bottom: 20px;
}
.coupon h3 {
  font-size: 14px;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.coupon p {
  font-size:12px;
  color:#777;
}
.coupon form input{
	border: 1px solid #e5e5e5;
float: left;
height: 40px;
margin: 0 6px 20px 0;
max-width: 100%;
padding: 0 0 0 10px;
width: 170px;
}
.coupon form a{
	float:left;
}
.cart_totals {
  float: left;
  text-align: right;
  width: 100%;
}
.cart_totals h2 {
  border-bottom: 2px solid #333;
  display: inline-block;
  font-size: 30px;
  margin: 0 0 35px;
  text-transform: uppercase;
}
.cart_totals table {
  border: medium none;
  float: right;
  margin: 0;
  text-align: right;
}
.cart_totals table th {
  border: medium none;
  font-size: 14px;
  font-weight: 700;
  padding: 0 20px 12px 0;
  text-align: right;
  text-transform: uppercase;
  vertical-align: top;
  color:#777;
}
.cart_totals table td {
  border: medium none;
  padding: 0 0 12px;
  vertical-align: top;
}
.cart_totals table td .amount {
  color: #ec4445;
  float: right;
  font-size: 13px;
  font-weight: bold;
  margin-left: 5px;
  text-align: right;
  text-transform: uppercase;
  font-size:12px;
}
.cart_totals table td ul#shipping_method {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.cart_totals table td ul#shipping_method li {
  float: left;
  margin: 0 0 10px;
  padding: 0;
  text-indent: 0;
  width: 100%;
  color:#777;
  font-size:12px;
}
.cart_totals table td ul#shipping_method li input {
  margin: 0;
  position: relative;
  top: 2px;
}
.shipping a {
  color: #6f6f6f;
  font-weight: bold;
  font-size:12px;
}
.cart_totals table tr.order-total th, .cart_totals table tr.order-total .amount {
  font-size: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}
.cart_totals table td {
  border: medium none;
  padding: 0 0 12px;
  vertical-align: top;
}
.wc-proceed-to-checkout a {
  background: #ee3333 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
  padding: 0 30px;
  text-transform: none;
}
/*----------------------------------------*/
/*  27.  Wishlist
/*----------------------------------------*/
.wishlist-title h2 {
  font-size: 30px;
  color: #252525;
}
.wishlist-table table {
  background: #fff none repeat scroll 0 0;
  border-color: #e8e8e9;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  margin: 20px 0 50px;
  width: 100%;
}
.wishlist-table table th, .wishlist-table table td {
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  font-size: 14px;
  padding: 15px 10px;
  text-align: center;
  color:#777;
}
.wishlist-table table .product-remove {
  padding: 0 15px;
  width: 20px;
}
.wishlist-table table th {
  font-weight: 600;
}
.wishlist-table table .product-thumbnail {
  width: 150px;
}
.wishlist-table table .product-add-to-cart {
  width: 240px;
}
.wishlist-table table .product-remove {
  padding: 0 15px;
  width: 20px;
}
.wishlist-table table .product-remove > a {
  font-size: 25px;
  color:#777;
}
.wishlist-table table .product-remove > a:hover {
  color:#ee3333;
}
.wishlist-table table .product-thumbnail {
  width: 150px;
}
.product-name a{
	color:#777;
	transition:.3s;
}
.product-name a:hover{
	color:#ee3333;
}
.wishlist-table table td.product-price .amount {
  font-weight: 700;
}
.wishlist-table table .wishlist-in-stock {
  color: #ec4445;
}
.wishlist-table table .product-add-to-cart {
  width: 240px;
}
.wishlist-table table .product-add-to-cart > a {
  background: #000 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-weight: 700;
  padding: 10px 56px;
  text-transform: uppercase;
  width: 260px;
}
.wishlist-table table .product-add-to-cart > a:hover {
  background: #ee3333 none repeat scroll 0 0;
}
.wishlist-share {
  margin:30px 0;
}
.wishlist-share-title {
  color: #252525;
  font-size: 18px;
  font-weight: 500;
}
.wishlist-share ul li {
  display: inline-block;
  margin: 0 5px;
}
.wishlist-share ul li a {
  color: #444;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.wishlist-share ul li a:hover {
	color:#ee3333;
}
/*----------------------------------------*/
/*  28.  checkout
/*----------------------------------------*/
.different-address {
  margin-top: 30px;
}
.coupon-accordion h3 {
  background-color: #f7f6f7;
  border-top: 3px solid #1e85be;
  color: #515151;
  font-size: 12px;
  font-weight: 300;
  list-style: outside none none;
  margin: 0 0 2em;
  padding: 1em 2em 1em 3.5em;
  position: relative;
  width: auto;
}
.coupon-accordion h3::before {
  color: #1e85be;
  content: "";
  display: inline-block;
  font-family: fontawesome;
  left: 1.5em;
  position: absolute;
  top: 1em;
}
.coupon-accordion span {
  color: #6f6f6f;
  cursor: pointer;
}
.coupon-accordion span:hover, p.lost-password a:hover {
  color: #ee3333;
}
.coupon-content {
  border: 1px solid #e5e5e5;
  display: none;
  margin-bottom: 20px;
  padding: 20px;
}
.coupon-info p.coupon-text {
  margin-bottom: 15px;
}
.coupon-info p {
  margin-bottom: 0;
}
.coupon-info p.form-row-first label, .coupon-info p.form-row-last label {
  display: block;
}
.coupon-accordion span {
  color: #6f6f6f;
  cursor: pointer;
}
.coupon-info p.form-row-first label span.required, .coupon-info p.form-row-last label span.required {
  color: #FF1111;
  font-weight: 700;
}
.coupon-info p.form-row-first input, .coupon-info p.form-row-last input {
  border: 1px solid #e5e5e5;
  height: 36px;
  margin: 0 0 14px;
  max-width: 100%;
  padding: 0 0 0 10px;
  width: 370px;
}
.buttons-cart input, .coupon input[type="submit"], .buttons-cart a, .coupon-info p.form-row input[type="submit"] {
  background: #252525 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin-right: 15px;
  padding: 0 15px;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
.form-row > label {
  margin-top: 7px;
}
.coupon-info p.form-row input[type="checkbox"] {
  position: relative;
  top: 2px;
}
p.lost-password {
  margin-top: 15px;
}
p.lost-password a {
  color: #6f6f6f;
}
.coupon-checkout-content {
  display: none;
  margin-bottom: 30px;
}
p.checkout-coupon input[type="text"] {
  height: 36px;
  padding-left: 10px;
  width: 170px;
}
p.checkout-coupon input[type="submit"] {
  background: #333 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: #fff;
  height: 36px;
  margin-left: 6px;
  padding: 5px 10px;
  transition: all 0.3s ease 0s;
}
.coupon-info p.form-row input[type="submit"]:hover, p.checkout-coupon input[type="submit"]:hover {
  background: #ee3333 none repeat scroll 0 0;
}
.coupon-accordion span:hover, p.lost-password a:hover {
  color: #ee3333;
}
.checkbox-form h3 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 30px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.country-select {
  margin-bottom: 30px;
  position: relative;
}
.country-select label, .checkout-form-list label {
  color: #333;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 5px;
}
.country-select label span.required, .checkout-form-list label span.required {
  color: #FF1111;
}
.country-select select {
  height: 40px;
  width: 100%;
   border: 1px solid #ddd;
   padding-left:10px;
   font-size:12px;
}
.checkout-form-list {
  clear: both;
  margin-bottom: 30px;
}
.checkout-form-list input{
 background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 42px;
    padding: 0 0 0 10px;
    width: 100%;
}
.checkout-form-list input#cbox {
  float: left;
  height: 0;
  position: relative;
  width: 2%;
}
.create-acc label {
  float: left;
  width: 80%;
  padding-left: 14px;
}
.create-account p{
	font-size:13px;
	color:#777;
}
.ship-different-title label {
  padding-right: 22px;
  font-size:19px;
}
.order-notes textarea {
  height: 90px;
  padding: 15px;
  width: 100%;
}
.your-order {
  background: #f2f2f2 none repeat scroll 0 0;
  padding: 30px 40px 45px;
}
.your-order h3 {
  border-bottom: 1px solid #d8d8d8;
  font-size: 30px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
  color: #252525;
}
.your-order-table table {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  width: 100%;
}
.your-order-table table th {
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  width: 250px;
}
.your-order-table table th, .your-order-table table td {
  border-bottom: 1px solid #d8d8d8;
  border-right: medium none;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
   color:#777;
}
.your-order-table table .shipping ul li input {
  position: relative;
  top: 2px;
}
.your-order-table table .shipping th {
  vertical-align: top;
}
.your-order-table table .order-total th {
  border-bottom: medium none;
  font-size: 18px;
}
.your-order-table table .order-total td {
  border-bottom: medium none;
}
.your-order-table table tr.order-total td span {
  color: #ec4445;
  font-size: 20px;
}
.panel-default > .panel-heading {
  background:none;
  transition:.3s;
  position:relative;
  padding:0px;
}
.panel-group .panel {
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 10px;
}
.payment-method {
  margin-top: 40px;
}
.payment-accordion .panel-group .panel {
  background: transparent;
}
.payment-accordion .panel-title a {
  color: #6f6f6f;
  font-size: 16px;
  padding-left: 25px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 10px;
  display:inline-block;
  font-weight:400;
}
.payment-accordion .panel-body {
  border-top: medium none !important;
  padding: 0;
}
.payment-accordion .panel-body p {
  font-size: 14px;
  margin-bottom:0;
  color:#777;
  font-weight:400;
}
.payment-accordion .panel-title a img {
  height: 20px;
  margin-left: 15px;
}
.payment-accordion .panel-heading a::before {
  content: "";
  cursor: pointer;
  display: block;
  font-family: fontawesome;
  font-size: 20px;
  left: 0;
  position: absolute;
  top: 0px;
}
.payment-accordion .panel-heading a.collapsed::before {
  content: " ";
}
.payment-accordion  .panel-group .panel {
  margin-bottom: 20px;
}
.order-button-payment input:hover {
  background: #ee3333 none repeat scroll 0 0;
}
.order-button-payment input {
  background: #ec4445 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  height: 50px;
  margin: 20px 0 0;
  padding: 0;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 100%;
  font-weight:400;
}
.your-order {
  margin-bottom: 50px;
}
/*----------------------------------------*/
/*  29.  blog
/*----------------------------------------*/
.single-blog-2 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.single-blog-2 .blog-2-img a img{
	width:100%;
}
.single-blog-2 .blog-2-content {
  overflow: hidden;
  padding: 35px 30px 20px;
}
.single-blog-2 .blog-2-content span{
	color: #949494;
	display: block;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 5px;
	
}
.single-blog .blog-2-content > a {
  border-bottom: 0 none;
  padding: 0;
  margin: 0 0 30px 0;
}
.single-blog-2 .blog-2-content h3{
	margin-bottom: 17px;
	margin-top: 0;
}
.single-blog-2 .blog-2-content h3 a{
	color: #525252;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	text-decoration:none;
	transition:.3s;
}
.single-blog-2 .blog-2-content h3 a:hover,.single-blog-2 .blog-2-content .meta a:hover,.single-post .post-text h4 a:hover,.blog-right ul li a:hover{
	color:#ee3333;
}
.single-blog-2 .blog-2-content .meta{
	border-top: 1px solid #dadada;
	padding-left: 2px;
	padding-top: 18px;
}
.single-blog-2 .blog-2-content .meta a{
	color: #7b7b7b;
	display: inline-block;
	float: left;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	margin-right: 30px;
	text-transform: uppercase;
}
.single-blog-2 .blog-2-content .meta a i{
	padding-right:10px;
}
.page-numbers ul li{
	display:inline-block;
}
.page-numbers ul li a{
	border: 1px solid #ddd;
	color: #444;
	padding: 0 15px;
	background-color: #fff;
	color: #444;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
}
.page-numbers ul li.active a,.page-numbers ul li:hover a{
	background: #ed552d none repeat scroll 0 0;
	border: 1px solid #ed552d;
	color: #fff;
}
.blog-right form{
	position:relative;
}
.blog-right form input {
  background: #f6f6f6 none repeat scroll 0 0;
  border: medium none;
  color: #989797;
  font-size: 16px;
  font-weight: 300;
  height: 60px;
  margin-bottom: 0;
  padding: 2px 82px 2px 30px;
  width: 100%;
  outline: none;
}
.blog-right form button{
	background-color: transparent;
	border: medium none;
	color: #bbbbbb;
	font-size: 20px;
	height: 60px;
	padding: 0 23px;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s ease 0s;
}
.blog-right form button:hover{
	color:#000;
}
.blog-right h3{
	color: #5f5f5f;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0;
	margin-bottom: 30px;
	margin-top: 0;
	text-transform: uppercase;
}
.single-post{
	overflow:hidden;
}
.single-post .post-img{
	float:left;
	width:85px;
}
.single-post .post-img a img{
	width:100%;
}
.single-post .post-text {
  width: auto;
  overflow: hidden;
  padding-left: 15px;
}
.single-post .post-text h4{
	margin-bottom: 5px;
	margin-top: 0;
}
.single-post .post-text h4 a {
  color: #444444;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 26px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.single-post .post-text span{
	color: #000;
	display: block;
	font-size: 12px;
}
.blog-right ul li{
	border-bottom: 1px solid #dddddd;
	list-style: outside none none;
	margin-bottom: 12px;
	padding-bottom: 12px;
}
.blog-right ul li:last-child{
	border:0;
}
.blog-right ul li a{
	color: #444444;
	font-size: 14px;
	letter-spacing: 0.5px;
	text-decoration:none;
	transition:.3s;
}
.tag-area a{
	background-color: #f6f6f6;
	border-radius: 5px;
	color: #000000;
	display: inline-block;
	font-size: 12px !important;
	letter-spacing: 1px;
	margin: 0 6px 12px;
	padding: 7px 16px;
	transition:.3s;
}
.tag-area a:hover{
	background-color: #ed552d;
	color: #fff;
}
/*----------------------------------------*/
/*  30.  blog-details
/*----------------------------------------*/
.blog-details-img a img{
	width:100%;
}
.blog-info{}
.blog-info p {
  margin-bottom: 0;
  margin-top: 20px;
}
blockquote {
  border-left: 5px solid #eee;
  font-size: 17.5px;
  margin: 10px 0 0;
  padding: 10px 20px;
}
.user-info{
	clear: both;
	display: block;
	margin: 40px 0;
	overflow: hidden;
}
.user-info .cats-tags-wrap{
	color: #7b7b7b;
	display: block;
	padding: 5px 0;
	text-transform: uppercase;
}
.user-info .cats-tags-wrap i{
	padding-right:5px;
}
.user-info .cats-tags-wrap a{
	color: #7b7b7b;
	text-decoration:none;
}
.user-info .user-share {
  display: inline-block;
  float: right;
}
.user-info .user-share span{
	color: #7b7b7b;
	margin-right: 15px;
	text-transform: uppercase;
	display: inline-block;
}
.user-info .user-share ul {
  float: right;
}
.user-info .user-share ul li{
	display:inline-block;
}
.user-info .user-share ul li a {
  color: #666666;
  margin: 0 0 0 15px;
}
.next-prev-area {
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  padding: 20px 0;
  overflow: hidden;
}
.next-prev-area a.next{
	background-color: #f6f6f6;
	border-radius: 5px;
	color: #666;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 8px 20px;
	text-transform: capitalize;
	float:left;
}
.next-prev-area a.next i{
	padding-right:5px;
}
.next-prev-area a.previews{
	
	background-color: #f6f6f6;
	border-radius: 5px;
	color: #666;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 8px 20px;
	text-transform: capitalize;
	float:right;
}
.next-prev-area a.previews i{
	padding-left:5px;
}
.comments-area h3{
	color: #5f5f5f;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0;
	margin-bottom: 45px;
	margin-top: 0;
	text-transform: uppercase;
}
.comments-area h3 span{
	olor: #5f5f5f;
}
.blog-info h3 {
  margin-top: 18px;
}
.blog-info h3 a {
  color: #707070;
  display: block;
  font-size: 22px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
.blog-info h3 a:hover {
  color: #ee3333;
}
.single-comments{
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 50px;
	overflow: hidden;
	padding-bottom: 50px;
}
.single-comments .comment-img{
	float:left;
	width:10%;
	display:inline-block;
}
.single-comments .comment-text{
	float:left;
	width:90%;
	display:inline-block;
	padding-left:15px;
}
.single-comments .comment-text > a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 0;
  text-transform: uppercase;
  display: block;
}
.single-comments .comment-text span{
	margin-top: 5px;
}
.single-comments .comment-text p{
	color:#525252;
	letter-spacing: 1px;
	padding-right: 25px;
}
.single-comments .comment-text .reply a {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 50px;
  color: #4c4c4c;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 40px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.single-comments .comment-text .reply a:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.single-comments-2{
	padding-left:20px;
}
.comment-respond-area h3{
	color: #222222;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 11px;
	text-transform: uppercase;
}
.comment-respond-area p{
	color: #000000;
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 40px;
}
.comment-respond-area .single-form{
	margin-bottom: 30px;
}
.comment-respond-area .single-form form textarea{
	background: #fff none repeat scroll 0 0;
	border: 1px solid #dddddd;
	color: #666666;
	font-size: 14px;
	height: 178px;
	letter-spacing: 1px;
	padding: 30px;
	width:100%;
}
.comment-respond-area .single-form form input{
	background: #fff none repeat scroll 0 0;
	border: 1px solid #dddddd;
	color: #666;
	font-size: 14px;
	height: 48px;
	letter-spacing: 1px;
	padding: 2px 30px;
	width: 100%;
}
.comment-respond-area a{
	background-color: #000;
	border: 1px solid #000;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 11px 28px 10px;
	text-align:center;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	width:100%;
}
.comment-respond-area a:hover{
	background-color: #fff;
	border: 1px solid #dddddd;
	color: #666;
}
